<% include partials/header %>

<!-- navbar -->
<% include partials/navbar %>
<!-- /navbar -->

<!-- flash -->
<% include partials/flash %>
<!-- /flash -->

<div class="container">
  <div class="jumbotron">
    <h1 class="display-3" style="color: #bb883b;" >Hello, User!</h1>
    <p class="lead">This Web App is Created by Ensat Engineering students:</p>
    <p class="lead">Adnan El Mouttaki</p>
    <p class="lead">Raja Es-sahri</p>
    <p class="lead">Mohamed Hakmaoui</p>
    <p class="lead" style="color: #f1b964;">Supervised by: Mr. Hassan Badir</p>
    <p class="lead"></p>
    <hr class="my-4" />

    <div style="font-size:2rem;">
      
      <p class="lead">This website is dedicated to help the user to keep track with movies, tv shows and even actors or producers.</p>
    </div>
  </div>
</div>

<% include partials/footer %>